/* ---------------------- Content ------------------
	- Common styles (that apply to multiple areas of the webpage)
	- Webpage navigation styles
		- Pills menu styles
		- Drop-down menu styles 
	- Title of webpage styles
	- Section styles
		- About section styles
		- Search section styles
		- Recommendations section styles
		- Favorites section styles
		- History section styles
	- #scroll-statment
	- Footer styles
	- .template styles
	- Media queries styles
*/

/* ------------------------------------------------------------- Common styles ----------------------------------------------------- */
#search-section, #recommendations-section, #favorites-section, #history-section, 
#favs-settings-form, .result-description, .result-links, .section-help, .results-nav,
.retrieval-info, .result button[name='Delete'] { /* These will change according to the user with JavaScript */
	display: none; 
}

.help-button {
	display: block; 
	margin: 1em 0em; 
}

.section-help {
	border: 2px solid black; 
	margin: 0em 2em 2em 2em; 
}

.close-button {
	width: 3em; 
	margin: 0.2em 0.2em 0.2em auto; 
	display: block; 
	background-color: rgba(255, 0, 0, 0.5); 
	color: white; 
}

.close-button:hover {
	background-color: rgba(255, 0, 0, 1); 
}

.section-help p {
	padding: 0em 1em; 
}
#search-form, 
#favs-settings-form {
	background-color: #F9F9F9;
	border: 1px solid #808080; 
}
section .retrieval-info { 
	text-align: center; 
	font-size: 1.5em; 
	border: 1px solid black; 
	width: 45%; 
	min-width: 13em; 
	margin: 2em auto 2em auto; 
}

.retrieval-info span {
	font-weight: bold; 
}

#favorites-page-num-form,
#results-page-num-form  {
	text-align: center; 
	margin: 3em auto; 
}

#favorites-page-num-form input[type='text'], 
#results-page-num-form input[type='text'] {
	width: 2.5em; 
}

#favorites-page-num-form input[type='submit'], 
#results-page-num-form input[type='submit'] {
	margin-left: 2.5em; 
}

.results-nav .pager {
	width: 60%; 
	margin: 0em auto; 
}

.yt-url , .wiki-url {
	display: block;
	margin-top: 2em; 
}

.yt-url {
	float: right; 
}

.wiki-url {
	float: left; 
}


/* ------------------------------------ Webpage navigation styles ----------------------------- */
#webpage-nav {
    padding: 0em 1em;
    width: 100%;
    margin: 0em auto;
    position: fixed;
    top: 0em;
    z-index: 999;
    border-bottom: 1px solid gray;
	background-color: white;
}

#webpage-nav .active a {
	color: white; 
	background-color: rgba(86,1,1,1);
}

#webpage-nav li:not(.active) a:hover {
	background-color: rgba(86,1,1,0.1); 
	text-decoration: underline; 
}

/* Webpage navigation with pills menu */
#webpage-nav .nav-pills {
	padding: 0em;
	margin: 0em; 
}

#webpage-nav .nav-pills li{
	width: 19.8%;
	text-align: center; 
	min-width: 10em; 
	font-size: 1.3em; 
}

#webpage-nav  a {
	color: rgba(86,1,1,1);
}

/* Webpage navigation with drop-down menu */
#webpage-nav .dropdown {
    width: 5em;
    margin: 0.7em auto;
	display: none; 
}


/* -------------------------------- Title of webpage style ----------------------------- */ 
#title-header {
	text-align: center; 
	letter-spacing: 2px; 
	margin-top: 1.8em;
}


/*------------------------------------------ Section styles ------------------------------------ */
.section-header {
	margin: 1em; 
	color: rgba(86,1,1,1); 
}

/* ------------ About section styles ----------- */
#about-section  p { 
    width: 60%;
    max-width: 40em;
    margin: 0em auto 2em auto;
}

/* ------------------ Search section styles ----------------- */
#search-form  {
	width: 65em; 
	margin: 0em auto; 
	padding: 4em 2em;
	text-align: center; 
}

#search-form label {
	vertical-align: top;
}

#search-form  input[name='Name'],
#search-form select[name='return-type'] {
	vertical-align: top;
	margin-right: 2em; 	
	display: inline-block;
}

#search-form button {
	display: block;
    width: 6em;
	margin: 2em 0em 0em auto; 
}

/* --------------- Recommendations section styles ---------- */
#recommendations-section, 
.results-container {
	overflow: hidden;
}

.results-container {
	padding: 0em 3em; 
}

.result {
	width: 30%;
	min-width: 21em; 
	display: inline-block; 
	border: 1px solid black; 
	margin: 2em 1em; 
	padding: 0em 1em; 
	float: left;
}

.result-intro, .result-description, .result-links {
	height: 10em;   
	overflow-y: auto;
    overflow-x: hidden;
}

.result-intro p {
	text-align: right; 
	margin: 0.2em 0.2em 0em 0em;
}

.result button {
	display: block; 
	margin: 0em auto 0.5em auto; 
}

/* ------------- Favorites section styles ----------------*/
#favs-settings-form {
    width: 68em;
    margin: 1em auto;
	padding: 0em 0em 1em 0em; 
    text-align: center;
}

#favs-settings-form label {
	vertical-align: middle; 
}

#favs-settings-form select {
    width: 12em; 
    display: inline-block;
    vertical-align: middle;
}

#favs-settings-form select[name='favs-sort-select'],
#favs-settings-form select[name='favs-filter-select'] {
	margin-right: 2em; 
}

#favs-settings-form input[type='submit'] {
	margin: 3em 2em 0em auto; 
	display: block; 
}


/* ------------------------------ History section styles ------------------------- */ 
#activity-filter, 
#delete-activities-button {
	margin-bottom: 1em; 
} 

#history-section li.activity {
	list-style-type: none; 
	margin-bottom: 0.5em; 
}

#history-section li.activity:hover{
	border: 1px dotted black; 
}


/* ------------------------------- #scroll-statement ------------------------------- */
#scroll-statement {
	border: 2px solid black;
	width: 8em; 
	margin: 1em auto; 
	text-align: center; 
}

#scroll-statement a {
	color: rgba(86,1,1,1);
}

#scroll-statement a:hover {
	text-decoration: underline; 
}


/* ---------------------------------- Footer styles ------------------------------- */
footer {
	padding: 1em 3em; 
}


/* --------------------------------- .template styles --------------------------- */
.template {
	display: none; 
}


/* ------------------------------------------ Media queries styles ----------------------------- */
@media only screen and (max-width: 1150px) {
	.result:nth-child(even) {
		float: right; 
	}
	
	.result {
		width: 45%;
	}
}

@media only screen and (max-width: 1000px) {
	#webpage-nav .nav-pills {
		display: none; 
	}
	
	#webpage-nav .dropdown {
		display: block; 
	}
	
	#search-form {
		width: 30em; 
	}
	
	#search-form input[name='Name'],
	#search-form select {
		margin: 0em 0em 2em 0em;
	}
	
	#search-form button {
		margin-top: 1em; 
	}
	
	#favs-settings-form {
		width: 15em;
	}
	
	#favs-settings-form select {
		margin-bottom: 2em; 
	}
	
	#favs-settings-form select[name='favs-sort-select'],
	#favs-settings-form select[name='favs-filter-select'] {
		margin-right: 0em; 
	}
	
	#favs-settings-form input[type='submit'] {
		margin-top: 1em; 
	}
}

@media only screen and (max-width: 750px) {
	.results-container {
		padding: 0em 2em; 
	}
	
	.result, .result:nth-child(even) {
		float: none; 
		width: 60%; 
		margin-left: auto;
		margin-right: auto; 
		display: block; 
	}
	
	#favs-settings-form {
		width: 15em;
	}
}

@media only screen and (max-width: 450px) {
	#search-form label{
		display: block; 
	}
	
	#search-form  {
		width: 20em; 
		padding: 2em; 
	}
}

@media only screen and (max-width: 350px) {
	.results-container, .result {
		padding: 0em 0.5em; 
	}
}